<?xml version="1.0"?>
<configuration>
	<appSettings>
	    <add key="MinimumUrlLengthToShrink" value="50" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<!-- Uncomment the XML below to create a log file of what Shrinklet does. Commented out by default because of ACLs.               -->
				<!--				<add name="Shrinklet.log" type="System.Diagnostics.TextWriterTraceListener" initializeData="Shrinklet.log" /> -->
			</listeners>
		</trace>
		<switches>
			<add name="Shrinklet" value="1"/>
		</switches>
	</system.diagnostics>
</configuration>
